@font-face {
  font-family: "RobotoSlab-Bold";
  src: url("subset-RobotoSlab-Bold.woff2") format("woff2"),
    url("subset-RobotoSlab-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "RobotoSlab-ExtraBold";
  src: url("subset-RobotoSlab-ExtraBold.woff2") format("woff2"),
    url("subset-RobotoSlab-ExtraBold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "RobotoSlab-Black";
  src: url("subset-RobotoSlab-Black.woff2") format("woff2"),
    url("subset-RobotoSlab-Black.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "RobotoSlab-Light";
  src: url("subset-RobotoSlab-Light.woff2") format("woff2"),
    url("subset-RobotoSlab-Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "RobotoSlab-Medium";
  src: url("subset-RobotoSlab-Medium.woff2") format("woff2"),
    url("subset-RobotoSlab-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "RobotoSlab-ExtraLight";
  src: url("subset-RobotoSlab-ExtraLight.woff2") format("woff2"),
    url("subset-RobotoSlab-ExtraLight.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "RobotoSlab-SemiBold";
  src: url("subset-RobotoSlab-SemiBold.woff2") format("woff2"),
    url("subset-RobotoSlab-SemiBold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "RobotoSlab-Regular";
  src: url("subset-RobotoSlab-Regular.woff2") format("woff2"),
    url("subset-RobotoSlab-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "RobotoSlab-Thin";
  src: url("subset-RobotoSlab-Thin.woff2") format("woff2"),
    url("subset-RobotoSlab-Thin.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
