section#hero {
  height: 100vh;
  .middle {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  h1 {
    color: #ac2323;
  }
  h1 {
    margin-top: 70px;
    font-size: 80px;
  }
  img {
    width: 700px;
  }
}

section#row-one {
  display: flex;
  justify-content: center;
}

section#row-two {
  display: flex;
  justify-content: center;
}

section#row-three {
  display: flex;
  justify-content: center;
}

section#row-four {
  display: flex;
  justify-content: center;
}

section#footer {
  display: flex;
  justify-content: center;
}
