<section id="hero">
  <div class="middle">
    <h1>Mia & Reto</h1>
    <img
      src="/assets/images/hero-picture.jpg"
      alt="reto-and-mia-wedding-picture"
    >
  </div>
</section>

<section id="row-one">
  <div class="left">
    <h3>Please join us for an<br> OPEN BAR, <br>Oh and a wedding!</h3>
    <p>We are exstatic to request<br> the pleasure of your<br> company at the ceremony<br> and celebrations of our<br> marriage.</p>
    <a href="rsvp">RSVP</a>
  </div>
  <div class="right">
    <h4>When?</h4>
    <h2>Saturday, 24th<br> September 2022</h2>
    <h4>Where?</h4>
    <h2>Shangri-La Hotel<br> Chengdu</h2>
  </div>
</section>

<section id="row-two">
  <div class="accommodation">
    <img
      src="/assets/images/accomm-background-image.png"
      alt="Picture of Chengdu skyline"
    >
    <a href="#">Learn More ></a>
  </div>
  <div class="our-story">
    <img
      src="/assets/images/our-story-image.png"
      alt=""
    >
    <a href="#">Learn More ></a>
  </div>
</section>

<section id="row-three">
  <img
    src="/assets/images/activities-background.png"
    alt=""
  >
  <h2>Activities</h2>
  <a href="#">Learn More ></a>
</section>

<section id="row-four">
  <h2>Many of you are travelling across<br> the globe to celebrate with us, and<br> your presence means a hell of a lot.<br> We hope you can make it and look<br> forward to having a great time.</h2>
</section>

<section id="footer">
  <p>Website designed and created by Reto Garo. Powered by Ember.</p>
</section>