<section id="hero">
  <nav>
    <div class="language">
      <Linkto></Linkto>
      <Linkto></Linkto>
    </div>
  </nav>
  <h1>Mia & Reto</h1>
  <h6>25.09.2021</h6>
</section>


<section id="rsvp">
  <h3>Please join us for an OPEN BAR, oh and a Wedding!</h3>
  <p>We are exstatic to request the pleasure of your company and celebrationsof our marriage. Saturday, 25th September 2021.</p>
  <nav>
    <Linkto @route="rsvp">RSVP</Linkto>
  </nav>
</section>


<section id="info">
  <div class="left">
    <ul>
      <li>When?</li>
      <li>Saturday, 25th September 2021</li>
      <li>Ceremony: 14:00 - 15:00</li>
      <li>Reception: 18:00 - Late</li>
    </ul>
  </div>
  <div class="Right">
    <ul>
      <li>Where?</li>
      <li>Shangri-la Hotel Chengdu</li>
      <li>Address: 9 Binjiang Dong Road, Chengdu 610021, China</li>
    </ul>
  </div>
</section>


<section id="accommodation">
  <h1>Accommodation</h1>
  <p>Choosing a place can be hard, so ive put together a list of hotels that I recommend, and are the best able to assist with your stay in Chengdu.</p>
  <nav>
    <Linkto @route="moreinfo">More Info</Linkto>
  </nav>
</section>


<section id="todo">
  <div class="topattraction">
    <ul>
      <li>Dujiangyan Panda tour with optional volunteering</li>
      <li>Kuanzhai Alley</li>
      <li>Tai Koo Li</li>
      <li>Private tour: Huanglongxi ancient town and coutnry side trekking</li>
      <li>Try one of many sichuan hot pot places</li>
    </ul>
  </div>
</section>


<section id="footer">
  <p>Many of you are travelling across the globe to celebrate with us, and your presence means a hell of a lot to us. We hope you can make it and look forward to havin' a great time.</p>
  <p>Website designed and created by Reto Garo. 2020.</p>
</section>